<a href="https://colab.research.google.com/github/puni2426/lockdown-coding/blob/master/Day2_Session1_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 print multiples of 3 upto 200 using a list

In [ ]:
 
def multiple(m, n): 
    a = range(n, (m * n)+1, n)   
    print(*a)   
m = 66
n = 3
multiple(m, n)

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99 102 105 108 111 114 117 120 123 126 129 132 135 138 141 144 147 150 153 156 159 162 165 168 171 174 177 180 183 186 189 192 195 198

 print the nos only divisable by 5 and 7 between 1000 and 2000 using a list( both inclusive)

In [ ]:
 
nl=[]
for x in range(1000, 2000):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

1015,1050,1085,1120,1155,1190,1225,1260,1295,1330,1365,1400,1435,1470,1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995

 
Add the n number of names in a list and print them alphabetically and reverse alphabetically.

In [ ]:
 
locations = list(input().split())
 
print("Original order:")
print(locations)
 
print("\nAlphabetical:")
print(sorted(locations))
print("\nReverse alphabetical:")
print(sorted(locations, reverse=True))

Surya Prakash Raja Punith
Original order:
['Surya', 'Prakash', 'Raja', 'Punith']

Alphabetical:
['Prakash', 'Punith', 'Raja', 'Surya']

Reverse alphabetical:
['Surya', 'Raja', 'Punith', 'Prakash']

 Print  perfect squares and divisible by 5 between 500 and 1000( (both inclusive) using list

In [ ]:
 
lower=int(input("Enter lower range limit:"))
upper=int(input("Enter upper range limit:"))
n=int(input("Enter the number to be divided by:"))
for i in range(lower,upper+1):
    if(i%n==0):
        print(i)

Enter lower range limit:20
Enter upper range limit:44
Enter the number to be divided by:8
24
32
40